html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  background-color: #000;
}

.calculator__inner, .calculator {
  height: 100%;
  width: 100%;
}

.calculator__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  height: 60dvh;
  width: 100%;
}

button {
  border-radius: 30px;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #fff;
  font-size: 24px;
}

hr {
  margin: 20px 5%;
  color: rgba(255, 255, 255, 0.1);
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

svg g {
  fill: rgb(91, 226, 24);
}

.screen-container {
  height: 20%;
}

.screen-container__screen, .screen__input {
  height: 100%;
}

.screen-container__screen {
  margin: 0 5%;
}

.screen__input {
  width: 100%;
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 24px;
}

.operator__button {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(91, 226, 24);
}

@media screen and (max-width: 600px) {
  button {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #fff;
  }

  .btn-container {
    gap: 0;
    row-gap: 5%;
  }
}

@media screen and (max-height: 750px) and (max-width: 600px) {
  button {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-height: 850px) and (max-width: 600px) {
  .btn-container {
    gap: 0;
    row-gap: 2%;
  }
}

@media screen and (max-height: 600px) {
  button {
    border-radius: 10px;
    width: 80%;
    height: 85%;
  }
}

.history-main-container {
  display: none;
}