html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000;
  margin: 0;
}

.calculator__inner, .calculator {
  height: 100%;
  width: 100%;
}

.calculator__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  height: 60dvh;
  width: calc(100% - 120px);
  margin: 0px 60px;
}

button {
  border-radius: 30px;
  width: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #fff;
  font-size: 24px;
}

hr {
  margin: 20px 60px;
  color: rgba(255, 255, 255, 0.1);
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

svg g {
  fill: rgb(91, 226, 24);
}

.screen-container {
  height: 20%;
}

.screen-container__screen, .screen__input {
  height: 100%;
}

.screen-container__screen {
  display: flex;
  justify-content: center;
}

.screen__input {
  width: calc(100% - 120px);
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 24px;
}

.operator__button {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(91, 226, 24);
}

.history-container__close {
  position: absolute;
  top: 0;
  left: 0;
  transform: none;
  background-color: rgb(200, 102, 102);
  border-radius: 0 0 10px 0;
  width: 20%;
  font-size: 13px;
  font-weight: 600;
  height: 36px;
  min-height: 21px;
  min-width: 35px;
}

.history-container__clear {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  transform: none;
  background-color: rgb(200, 102, 102);
  border-radius: 0 0 0 10px;
  width: 20%;
  font-size: 13px;
  font-weight: 600;
  height: 36px;
  min-height: 21px;
  min-width: 35px;
}

.history-main-container {
  position: relative;
  display: flex;
  width: 40%;
  height: 100%;
  background-color: #333;
  transition: 0.5s;
}

#searchHistory {
  color: #fff;
  margin: 16px 10px;
  font-size: 22px;
  font-family: sans-serif;
  overflow-y: scroll;
  height: calc(100% - 60px);
  width: 100%;
  min-width: 200px;
}

.search__history svg {
  height: 20px;
  width: 20px;
}

#searchHistory::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 767px) {
  .history-container__close {
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    background-color: rgb(200, 102, 102);
    border-radius: 0 0 10px 0;
    width: 20%;
    font-size: 13px;
    font-weight: 600;
    height: 36px;
    min-height: 21px;
    min-width: 35px;
  }
  
  .history-container__clear {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    transform: none;
    background-color: rgb(200, 102, 102);
    border-radius: 0 0 0 10px;
    width: 20%;
    font-size: 13px;
    font-weight: 600;
    height: 36px;
    min-height: 21px;
    min-width: 35px;
  }
  
  .history-main-container {
    display: none;
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    background-color: #333;
    height: 50%;
    width: 100%;
  }
  
  .history-container {
    width: 100%;
  }

  #searchHistory {
    width: calc(100% - 20px);
    height: calc(100% - 32px);
    min-width: 0;
  }
}

@media screen and (max-width: 640px) {
  .btn-container__button {
    font-size: 18px;
  }

  svg {
    height: 18px;
    width: 17px;
  }

  .btn-container {
    width: calc(100% - 32px);
    margin: 0px 16px;
  }

  hr {
    margin: 20px 16px;
  }

  .screen__input {
    width: calc(100% - 32px);
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 24px;
  }

  .search__history svg {
    height: 18px;
    width: 18px;
  }
}